.contact-container {
    display: flex;
    background-color: #252525;
    color: black;
    /* background-image: linear-gradient( to top right, black , rgba(78, 30, 78, 0.411)); */
    height: 100vh;
    padding: 100px 0 100px 0;
    /* flex-direction: column; */
    justify-content: center;
}

.contact-list {
    width: 27%;
    color: white;
}

.contact-list h3{
    font-size: 45px;
    text-transform: uppercase;
}

.contact-list p{
    padding-top: 15px;
}

.contact-container .contactForm{
    display: flex;
    flex-direction: column; 
    width: 410px;
}

.contact-container .contactForm h1{
    font-size: 45px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 20px;
}

.contact-container .contactForm .contactCells{
    display: contents;
}

.contact-container .contactForm .contactCells p{
    color: white;
    font-size: 30px;
    font-weight: bolder;
}

.contact-container .contactForm .contactCells input{
    height: 50px;
}

#button{
    background-color: rgba(25, 25, 25, 0);
    padding: 12px 24px;
    border-radius: 15px;
    color: #fff;
    /* background-image: linear-gradient(to left, #2c2c54, #1b1b29, #16191f); */
    background-size: 100%;
    font-weight: 600;
    letter-spacing: 1.2px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    /* opacity: 0.8; */
    text-decoration: underline;
    align-self: center;
    cursor: pointer;
}

.contact-container .contactForm .contactCells input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 3px;
  }

  .contact-container .contactForm .contactCells textarea {
    width: 160%;
    height: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 3px;
  }

.contact-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    padding: 100px 0 100px 0;
}

.contact-desc > h3{
    margin-bottom: 30px;
    font-size: 28px;
}

.contact-desc > p{
    line-height: 1.5;
}

.contact-img {
    width: 70%;
    display: flex;
    align-self: center;
    overflow: hidden;
}

@media only screen and (max-width: 960px) {
    .contact-container{
        flex-direction: column;
        padding: 0;
        height: auto;
    }

    .contact-desc{
        width: 90%;
        margin: 0 auto;
        padding: 40px 20px 50px 20px;
    }

    .contact-desc > h3 {
        font-size: 20px;
        text-align: center;
    }

    .contact-img{
        width: 100%;
        margin-bottom: 50px;
    }

    .contact-img > img {
        width: 100%;
    }
}