.contact-container {
    display: flex;
    background-color: #252525;
    color: black;
    height: 70vh;
    padding: 100px 0 100px 0;
}

.contact-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    padding: 100px 0 100px 0;
}

.contact-desc > h3{
    margin-bottom: 30px;
    font-size: 28px;
}

.contact-desc > p{
    line-height: 1.5;
}

.contact-img {
    width: 70%;
    display: flex;
    align-self: center;
    overflow: hidden;
}

@media only screen and (max-width: 960px) {
    .contact-container{
        flex-direction: column;
        padding: 0;
        height: auto;
    }

    .contact-desc{
        width: 90%;
        margin: 0 auto;
        padding: 40px 20px 50px 20px;
    }

    .contact-desc > h3 {
        font-size: 20px;
        text-align: center;
    }

    .contact-img{
        width: 100%;
        margin-bottom: 50px;
    }

    .contact-img > img {
        width: 100%;
    }
}